.login {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    display: flex;


    background-image: url(../../assets/img/background/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 9.352vh;
    left: 50%;
    transform: translateX(-50%);
}

.input-group {
    position: absolute;
    top: 39.352vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.password-group {
    top: 54.630vh;
}

.input-login,
.input-password {
    width: 960px;
    height: 80px;
    border: none;
    outline: none;
    background-image: url('../../assets/img/input.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #ffffff;
    font-family: Metanart_Big;
    font-size: 1.667vh;
    padding: 0 0 0 30px;
    box-sizing: border-box;
}

.p-login,
.p-password {
    position: absolute;
    top: -6.481vh;
    left: 14px;

    color: #ffffff;
    font-family: Metanart_Big;
    font-weight: 400;
    font-style: normal;
    font-size: 3.704vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.label-remember,
.button-login,
.p-error,
.button-registration {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.label-remember {
    top: 66.204vh;
    height: 56px;
    flex-direction: row;
    align-items: center;
    gap: 1.563vw;
    cursor: pointer;

}

.checkbox-remember {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
}

.label-remember-span {
    color: #ffffff;
    font-family: Metanart_Big;
    font-weight: 400;
    font-style: normal;
    font-size: 2.778vh;
    white-space: nowrap;
}

.label-remember::before {
    content: '';
    display: inline-block;
    width: 104px;
    height: 56px;
    background-image: url('../../assets/img/checkbox/checkbox-remember-off.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: all 500ms ease-out;
}

.label-remember:has(.checkbox-remember:checked)::before {
    background-image: url('../../assets/img/checkbox/checkbox-remember-on.svg');

}

.p-error {
    position: absolute;
    top: 72.870vh;

    margin: 0;
    color: #D9FF00;
    font-family: Metanart_Big;
    font-weight: 400;
    font-style: normal;
    font-size: 2.315vh;
}

.button-login {
    position: absolute;
    top: 78.241vh;

    width: 328px;
    height: 80px;
    border: none;
    outline: none;
    background-image: url('../../assets/img/login/button-login-disabled.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0;
    transition: all 500ms ease-out;
}

.button-login:not(:disabled) {
    background-image: url('../../assets/img/login/button-login-active.svg');
    cursor: pointer;
    transition: all 500ms ease-out;
}

.button-registration {
    position: absolute;
    top: 88.241vh;

    color: #CDCDCD;
    font-family: Metanart_Big;
    font-weight: 400;
    font-style: normal;
    font-size: 2.778vh;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 500ms ease-out;
}

.button-registration:hover {
    color: #FFFFFF;
    transition: all 500ms ease-out;
}

@media (min-height: 1441px) and (min-width: 3441px) {
    .logo {
        height: 287px;
    }

    .input-login,
    .input-password {
        width: 1152px;
        height: 96px;
        padding: 0 0 0 36px;
    }

    .p-login,
    .p-password {
        left: 17px;
        padding: 12px;
    }

    .label-remember {
        height: 67px;
    }

    .label-remember::before {
        width: 125px;
        height: 67px;
    }

    .label-remember-span {
        white-space: normal;
    }

    .button-login {
        width: 394px;
        height: 96px;
    }

    .button-registration {
        padding: 12px;
    }

}

@media ((max-width: 1300px) or (max-height: 1100px)) and (orientation: landscape) {
    .logo {
        width: 60.781vw;
        height: 22.130vh;
    }

    .p-login,
    .p-password {
        left: auto;
        padding: 0.926vh 0.521vw;
    }

    .input-login,
    .input-password {
        width: 34.37vw;
        height: 7.407vh;
        padding: 0 0 0 2.083vw;
    }

    .label-remember {
        height: 5.185vh;
    }

    .label-remember::before {
        width: 5.417vw;
        height: 5.185vh;
    }

    .label-remember-span {
        white-space: normal;
    }

    .button-login {
        width: 17.083vw;
        height: 7.407vh;
    }

    .button-registration {
        padding: 0.926vh 0.521vw;
    }
}

@media ((max-width: 1100px) or (max-height: 1300px)) and (orientation: portrait) {
    .logo {
        top: 5vh;
        width: 60.781vw;
        height: 17.13vh;
    }

    .input-group {
        top: 25vh;
        width: 65%;
    }

    .password-group {
        top: 35vh;
    }

    .p-login,
    .p-password {
        left: 0.896vh;
        top: -2.2vh;
        padding: 0;
        font-size: 1.704vh;

    }

    .input-login,
    .input-password {
        width: 100%;
        padding: 0 0 0 15px;
        font-size: 1vh;
    }

    .label-remember {
        top: 47vh;
        height: 5.185vh;
        gap: 6.563vw;
    }

    .label-remember::before {
        width: 40.417vw;
        height: 3vh;
    }

    .label-remember-span {
        font-size: 1.704vh;
        white-space: normal;
    }

    .p-error {
        top: 58vh;
        font-size: 1.315vh;
        white-space: nowrap;
    }

    .button-login {
        top: 65vh;
        width: 55.083vw;
        height: 4vh;
    }

    .button-registration {
        top: 73vh;
        font-size: 1.704vh;
        white-space: nowrap;
    }
}